<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ws.model.dao.MovieDao">
	<!-- 모든 영화조회 -->
	<select id="selectAll" resultType="Movie">
		SELECT * FROM movies
	</select>

	<!-- id로 영화조회 -->
	<select id="selectOne" resultType="Movie">
		SELECT * FROM movies WHERE
		id=#{id}
	</select>

	<!-- 영화 추가 -->
	<insert id="insert" parameterType="Movie">
		INSERT INTO movies (title,
		director, genre, runningTime)
		VALUES (#{title}, #{director}, #{genre},
		#{runningTime})
	</insert>

	<!-- 영화 삭제 -->
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM movies 
        WHERE id = #{id}
	</delete>

	<!-- 영화 수정 -->
	<update id="update" parameterType="Movie">
		UPDATE movies SET
		title=#{title}, director=#{director}, genre=#{genre},
		runningTime=#{runningTime}
		WHERE id=#{id}
	</update>


</mapper>