<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.model.dao.ReviewsDao">

	<insert id="createReview">
	    INSERT INTO reviews (user_id, title, content, image_urls)
	    VALUES (#{userId}, #{title}, #{content}, #{imageUrls, typeHandler=com.yh.util.JsonListTypeHandler})
	</insert>

    <select id="findReviewListByUserId" resultType="com.yh.model.dto.Reviews">
        SELECT * FROM reviews WHERE user_id = #{userId}
    </select>

    <select id="findReviewById" resultType="com.yh.model.dto.Reviews">
        SELECT * FROM reviews WHERE id = #{id}
    </select>

    <update id="updateReview">
        UPDATE reviews
        SET title = #{title}, content = #{content}, image_urls = #{imageUrls, typeHandler=com.yh.util.JsonListTypeHandler}, updated_at = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteReview">
        DELETE FROM reviews WHERE id = #{id}
    </delete>

</mapper>
