/* Primary Colors */
:root {
  --primary-300: #79E396;
  --primary-400: #53C77E;
  --primary-500: #25A260;
  --primary-600: #1B8B5B;
  --primary-700: #1B8B5B;

  /* Semantic Colors */
  --success: #48c433;
  --info: #1b7ff9;
  --warning: #ffe121;
  --danger: #ff513a;

  /* Neutral Colors */
  --letter-black: #484848;
  --base: #9f9f9f;
  --base-light: #fbfbfb;
  --background: #ffffff;
}
